modules/restrainer/test/input/IMP_Schema.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio - FREE Community Edition 7.0.5.906 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Representation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Universe" type="UniverseType" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Collection" type="CollectionType" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Assembly" type="AssemblyType" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Segment" type="SegmentType" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Molecule">
          <xs:complexType>
            <xs:complexContent mixed="false">
              <xs:extension base="MoleculeType" />
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Protein" type="ProteinType" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="NucleicAcid" type="NucleicAcidType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestraintSet">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" maxOccurs="1" name="RigidBody" type="RigidBodyRestraint" />
        <xs:element minOccurs="0" maxOccurs="1" name="ExcludedVolume">
          <xs:complexType>
            <xs:complexContent mixed="false">
              <xs:extension base="ExcludedVolumeRestraint" />
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="Pulldown">
          <xs:complexType>
            <xs:complexContent mixed="false">
              <xs:extension base="PulldownRestraint" />
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="Y2H" type="Y2HRestraint" />
        <xs:element minOccurs="0" maxOccurs="1" name="XrayStruc">
          <xs:complexType>
            <xs:complexContent mixed="false">
              <xs:extension base="XrayStrucRestraint" />
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="MSMS" type="MSMSRestraint" />
        <xs:element minOccurs="0" maxOccurs="1" name="Array">
          <xs:complexType>
            <xs:complexContent mixed="false">
              <xs:extension base="ArrayRestraint" />
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="Copurification">
          <xs:complexType>
            <xs:complexContent mixed="false">
              <xs:extension base="CopurificationRestraint" />
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="CrossLink">
          <xs:complexType>
            <xs:complexContent mixed="false">
              <xs:extension base="CrossLinkRestraint" />
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="Distance" type="DistanceRestraint" />
        <xs:element minOccurs="0" maxOccurs="1" name="Diameter" type="DiameterRestraint" />
        <xs:element minOccurs="0" maxOccurs="1" name="SAXS" type="SAXSRestraint" />
        <xs:element minOccurs="0" maxOccurs="1" name="EM" type="EMRestraint" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="Display">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Universe" type="UniverseColor" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Collection" type="CollectionColor" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Assembly" type="AssemblyColor" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Segment" type="SegmentColor" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Molecule">
          <xs:complexType>
            <xs:complexContent mixed="false">
              <xs:extension base="MoleculeColor" />
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Protein" type="ProteinColor" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Chain" type="PChainColor" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Fragment" type="PFragmentColor" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="NucleicAcid" type="NucleicAcidColor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SAXSRestraint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Restraint">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="Particle" type="ParticleType" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Source">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="SourceType" />
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="profile_filename" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="100" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="name" type="xs:string" />
          <xs:attribute default="1" name="weight">
            <xs:simpleType>
              <xs:restriction base="xs:float">
                <xs:minInclusive value="0" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="50" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ParticleType">
    <xs:attribute name="id" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="ParticleType2">
    <xs:sequence>
      <xs:element name="Atom">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="Residue">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="NucleicAcid">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="Fragment">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="Chain">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="Protein">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="Nucleotide">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="Molecule">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="Assembly">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="Collection">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="Universe">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RestraintType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Restraint">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="Particle" type="ParticleType" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Source">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="SourceType" />
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute default="1" name="weight">
            <xs:simpleType>
              <xs:restriction base="xs:float">
                <xs:minInclusive value="0" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="name">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="50" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CrossLinkRestraintType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Restraint">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="2" maxOccurs="2" name="Particle" type="ParticleType" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Source">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="SourceType" />
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="name" type="xs:string" />
          <xs:attribute default="1" name="weight">
            <xs:simpleType>
              <xs:restriction base="xs:float">
                <xs:minInclusive value="0" />
                <xs:maxInclusive value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="std_dev" type="xs:float" />
          <xs:attribute name="linker_length" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Y2HRestraint">
    <xs:complexContent mixed="false">
      <xs:extension base="RestraintType">
        <xs:attribute name="name">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="50" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RigidBodyRestraint">
    <xs:complexContent mixed="false">
      <xs:extension base="RestraintType">
        <xs:attribute name="name">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="50" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DistanceRestraint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Restraint">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="2" maxOccurs="2" name="Particle" type="ParticleType" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Source">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="SourceType" />
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute default="1" name="weight">
            <xs:simpleType>
              <xs:restriction base="xs:float">
                <xs:minInclusive value="0" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="name" type="xs:string" />
          <xs:attribute name="distance" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:float">
                <xs:minExclusive value="0" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="std_dev" type="xs:float" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="50" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PulldownRestraint">
    <xs:complexContent mixed="false">
      <xs:extension base="RestraintType">
        <xs:attribute name="name">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="50" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExcludedVolumeRestraint">
    <xs:complexContent mixed="false">
      <xs:extension base="RestraintType">
        <xs:attribute name="name">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="50" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CopurificationRestraint">
    <xs:complexContent mixed="false">
      <xs:extension base="RestraintType">
        <xs:attribute name="name">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="50" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MSMSRestraint">
    <xs:complexContent mixed="false">
      <xs:extension base="RestraintType">
        <xs:attribute name="name">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="50" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XrayStrucRestraint">
    <xs:complexContent mixed="false">
      <xs:extension base="RestraintType">
        <xs:attribute name="name">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="50" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayRestraint">
    <xs:complexContent mixed="false">
      <xs:extension base="RestraintType">
        <xs:attribute name="name">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="50" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CrossLinkRestraint">
    <xs:complexContent mixed="false">
      <xs:extension base="CrossLinkRestraintType">
        <xs:attribute name="name">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="50" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EMRestraint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Restraint">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="Particle" type="ParticleType" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Source" type="SourceType" />
          </xs:sequence>
          <xs:attribute name="density_filename" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="100" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="name">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="50" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute default="1" name="weight">
            <xs:simpleType>
              <xs:restriction base="xs:float">
                <xs:minInclusive value="0" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="resolution">
            <xs:simpleType>
              <xs:restriction base="xs:float">
                <xs:minExclusive value="0" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="spacing">
            <xs:simpleType>
              <xs:restriction base="xs:float">
                <xs:minExclusive value="0" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="xorigin" type="xs:float" />
          <xs:attribute name="yorigin" type="xs:float" />
          <xs:attribute name="zorigin" type="xs:float" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="50" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DiameterRestraint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Restraint">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="Particle" type="ParticleType" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Source">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="SourceType" />
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="max_diameter" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:float">
                <xs:minExclusive value="0" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="name" type="xs:string" />
          <xs:attribute default="1" name="weight">
            <xs:simpleType>
              <xs:restriction base="xs:float">
                <xs:minInclusive value="0" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="std_dev" type="xs:float" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:complexType xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthorType">
    <xsd:attributeGroup ref="AuthorType" />
  </xs:complexType>
  <xs:attributeGroup name="AuthorType">
    <xs:attribute name="first_name" type="xs:string" />
    <xs:attribute name="last_name" type="xs:string" />
  </xs:attributeGroup>
  <xs:complexType name="SourceType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Author" type="AuthorType" />
      <xs:element minOccurs="0" name="Journal" type="xs:string" />
      <xs:element minOccurs="0" name="Title" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:gYear" />
    </xs:sequence>
    <xs:attribute name="pubmed_id" type="xs:positiveInteger" />
  </xs:complexType>
  <xs:complexType name="UniverseType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Collection">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="CollectionType" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Assembly" type="AssemblyType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Segment" type="SegmentType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Molecule">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="MoleculeType" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Protein" type="ProteinType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NucleicAcid" type="NucleicAcidType" />
    </xs:sequence>
    <xs:attribute name="id">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="20" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="UniverseColor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" type="ColorType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Collection" type="CollectionColor" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Assembly">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="AssemblyColor" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Segment" type="SegmentColor" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Molecule">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="MoleculeColor" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Protein" type="ProteinColor" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Chain" type="PChainColor" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Fragment" type="PFragmentColor" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NucleicAcid" type="NucleicAcidColor" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="CollectionType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Assembly">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="AssemblyType" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Segment" type="SegmentType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Molecule">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="MoleculeType" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Protein" type="ProteinType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NucleicAcid" type="NucleicAcidType" />
    </xs:sequence>
    <xs:attribute name="id">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="20" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CollectionColor">
    <xs:sequence>
      <xs:element name="Color" type="ColorType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Assembly" type="AssemblyColor" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Segment">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="SegmentColor" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Molecule">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="MoleculeColor" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Protein" type="ProteinColor" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NucleicAcid" type="NucleicAcidColor" />
    </xs:sequence>
    <xs:attribute name="id">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="20" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AssemblyType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Segment">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="SegmentType" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Molecule">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="MoleculeType" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Protein" type="ProteinType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NucleicAcid" type="NucleicAcidType" />
    </xs:sequence>
    <xs:attribute name="id">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="20" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AssemblyColor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" type="ColorType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Segment" type="SegmentColor" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Molecule" type="MoleculeColor" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Protein" type="ProteinColor" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NucleicAcid" type="NucleicAcidColor" />
    </xs:sequence>
    <xs:attribute name="id">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="20" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="SegmentType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Molecule">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="MoleculeType" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Protein" type="ProteinType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NucleicAcid" type="NucleicAcidType" />
    </xs:sequence>
    <xs:attribute name="id">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="20" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="SegmentColor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" type="ColorType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Molecule" type="MoleculeColor" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Protein" type="ProteinColor" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NucleicAcid" type="NucleicAcidColor" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="MoleculeType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Protein">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="ProteinType" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NucleicAcid">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="NucleicAcidType">
              <xs:attribute name="filename" />
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="20" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="MoleculeColor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" type="ColorType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Protein" type="ProteinColor" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NucleicAcid" type="NucleicAcidColor" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ProteinType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Chain" type="PChainType" />
    </xs:sequence>
    <xs:attribute name="id">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="20" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ProteinColor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" type="ColorType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Chain" type="PChainColor" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="NucleicAcidType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Chain" type="NAChainType" />
    </xs:sequence>
    <xs:attribute name="id">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="20" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="NucleicAcidColor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" type="ColorType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Chain" type="NAChainColor" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="PChainType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Fragment" type="PFragmentType" />
    </xs:sequence>
    <xs:attribute name="id">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="20" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="filename" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="100" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute default="NonWaterNonHydrogen" name="selector" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="NonWaterNonHydrogen" />
          <xs:enumeration value="CAlpha" />
          <xs:enumeration value="CBeta" />
          <xs:enumeration value="C" />
          <xs:enumeration value="N" />
          <xs:enumeration value="All" />
          <xs:enumeration value="Chain" />
          <xs:enumeration value="Water" />
          <xs:enumeration value="Hydrogen" />
          <xs:enumeration value="NonWater" />
          <xs:enumeration value="P" />
          <xs:enumeration value="IgnoreAlternatives" />
          <xs:maxLength value="30" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="chain_label" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="4" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PChainColor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" type="ColorType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Fragment" type="PFragmentColor" />
    </xs:sequence>
    <xs:attribute name="id">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="20" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="NAChainType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Fragment" type="NAFragmentType" />
    </xs:sequence>
    <xs:attribute name="id">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="20" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="filename" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="100" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute default="NonWaterNonHydrogen" name="selector" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="NonWaterNonHydrogen" />
          <xs:enumeration value="CAlpha" />
          <xs:enumeration value="CBeta" />
          <xs:enumeration value="C" />
          <xs:enumeration value="N" />
          <xs:enumeration value="All" />
          <xs:enumeration value="Chain" />
          <xs:enumeration value="Water" />
          <xs:enumeration value="Hydrogen" />
          <xs:enumeration value="NonWater" />
          <xs:enumeration value="P" />
          <xs:enumeration value="IgnoreAlternatives" />
          <xs:maxLength value="30" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="NAChainColor">
    <xs:sequence>
      <xs:element name="Fragment" type="NAFragmentColor" />
    </xs:sequence>
    <xs:attribute name="id">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="20" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PFragmentType">
    <xs:choice>
      <xs:element minOccurs="0" name="GeometricShapeRep">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Sphere">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="InitialPosition">
                    <xs:complexType>
                      <xs:complexContent mixed="false">
                        <xs:extension base="PositionType">
                          <xs:attribute name="id">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="radius">
                  <xs:simpleType>
                    <xs:restriction base="xs:double">
                      <xs:minExclusive value="0" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="weight" use="optional">
                  <xs:simpleType>
                    <xs:restriction base="xs:double">
                      <xs:minExclusive value="0" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="id">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="20" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="start_residue" type="xs:int" />
          <xs:attribute name="end_residue" type="xs:int" />
          <xs:attribute name="total_residue">
            <xs:simpleType>
              <xs:restriction base="xs:int">
                <xs:minExclusive value="0" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="id">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="20" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="AtomicRep">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="PAtomicRep">
              <xs:attribute name="id">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="20" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="id">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="20" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PFragmentColor">
    <xs:sequence>
      <xs:element name="Color" type="ColorType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Residue">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Color" type="ColorType" />
          </xs:sequence>
          <xs:attribute name="start" />
          <xs:attribute name="end" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="20" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="NAFragmentColor">
    <xs:sequence>
      <xs:element name="Nucleotide">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Color" type="ColorType" />
          </xs:sequence>
          <xs:attribute name="start" type="xs:int" />
          <xs:attribute name="end" type="xs:int" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="20" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="NAFragmentType">
    <xs:choice>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GeometricShapeRep">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Sphere">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="InitialPosition">
                    <xs:complexType>
                      <xs:complexContent mixed="false">
                        <xs:extension base="PositionType">
                          <xs:attribute name="id">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="radius">
                  <xs:simpleType>
                    <xs:restriction base="xs:double">
                      <xs:minExclusive value="0" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="weight">
                  <xs:simpleType>
                    <xs:restriction base="xs:double">
                      <xs:minExclusive value="0" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="id">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="20" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="start_residue">
            <xs:simpleType>
              <xs:union memberTypes="xs:int" />
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="end_residue">
            <xs:simpleType>
              <xs:union memberTypes="xs:int" />
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="total_residue">
            <xs:simpleType>
              <xs:restriction base="xs:int">
                <xs:minExclusive value="0" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="id">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="20" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AtomicRep">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="NAAtomicRep">
              <xs:attribute name="id">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="20" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="id">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="20" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="GeomShapeRep">
    <xs:attribute name="start_residue" />
    <xs:attribute name="end_residue" />
  </xs:complexType>
  <xs:complexType name="NAAtomicRep">
    <xs:attribute name="start_nucleotide">
      <xs:simpleType>
        <xs:union memberTypes="xs:int" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="end_nucleotide">
      <xs:simpleType>
        <xs:union memberTypes="xs:int" />
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PAtomicRep">
    <xs:attribute name="start_residue" type="xs:int" />
    <xs:attribute name="end_residue" type="xs:int" />
  </xs:complexType>
  <xs:complexType name="PositionType">
    <xs:attribute name="optimize" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:int">
          <xs:enumeration value="0" />
          <xs:enumeration value="1" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="PositionType" />
  </xs:complexType>
  <xs:attributeGroup name="PositionType">
    <xs:attribute name="x" type="xs:double" use="required" />
    <xs:attribute name="y" type="xs:double" use="required" />
    <xs:attribute name="z" type="xs:double" use="required" />
  </xs:attributeGroup>
  <xs:complexType name="ColorType">
    <xs:attributeGroup ref="ColorType" />
    <xs:attribute name="id">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="20" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:attributeGroup name="ColorType">
    <xs:attribute name="r" type="xs:int" use="required" />
    <xs:attribute name="g" type="xs:int" use="required" />
    <xs:attribute name="b" type="xs:int" use="required" />
  </xs:attributeGroup>
</xs:schema>